/* @font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Chronicle Display', sans-serif;
  src: url('../fonts/Chronicle-Display-Semibold.eot');
  src: url('../fonts/Chronicle-Display-Semibold.woff') format('woff'),
    url('../fonts/Chronicle-Display-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: 'Chronicle Display';
  src: url('../fonts/ChronicleDisplay.woff');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy.woff');
}

:root {
  --color-text: #ffffff;
  --color-active: #ed8836;
  --color-accent: #fbd784;
  --color-dark: #0b1d26;

  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  --margin-bottom-sm: 16px;
  --margin-bottom-md: 24px;
  --margin-bottom-lg: 32px;

  --section-spacing: 40px 0 25px;
  --container-spacing: 0 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: var(--font-size-md);
  font-style: normal;
  line-height: normal;
  color: var(--color-text);
  background-color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.3;
}

p {
  margin: 0;
  text-transform: initial;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  font-size: 12px;
}

i {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--container-spacing);
}

.d-grid {
  display: grid;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.link {
  text-transform: uppercase;
}

.logo-box {
  min-width: 108px;
}

.logo {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: var(--font-size-md);
  color: var(--color-text);
}

.part {
  color: var(--color-active);
}

.sm-screen-hidden {
  display: none;
}

.menu {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: var(--color-dark);
  padding: 50px;
  border-radius: 8px;
  transition: 0.5s ease;
  z-index: 9999;
}

.menu,
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu-toggle-icon {
  cursor: pointer;
}

.menu-toggle-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-link {
  letter-spacing: 1px;
}

/* menu JS styles */

.menu.menu-opened {
  top: 100px;
}

.header::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1500;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.menu-opened.header::after {
  content: '';
  opacity: 1;
  transform: scale(1);
}

.account {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* hero */

main {
  overflow: hidden;
}

.hero {
  position: relative;
  height: 1000px;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    330deg,
    rgba(11, 29, 38, 0) 31.06%,
    #0b1d26 108.93%
  );
  z-index: 50;
}

.hero-data {
  position: relative;
  padding-top: 150px;
  display: flex;
  align-items: center;
  z-index: 150;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 15%;
  align-items: center;
}

.social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.social-text {
  /* display: inline-block;
  transform: rotate(90deg) translateY(27px); */
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.tagline {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: var(--margin-bottom-md);
}

.tagline::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 2px;
  margin-right: 10px;
  background-color: var(--color-accent);
}

.title {
  font-size: var(--font-size-lg);
  line-height: 1.3;
  margin-bottom: var(--margin-bottom-md);
}

.main-title {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.fa {
  font-size: 16px;
}

.btn {
  display: inline-flex;
  align-items: baseline;
  font-weight: 700;
  gap: 10px;
}

.parallax-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 20% 60%;
}

.parallax-top-img {
  top: 0;
}

.parallax-middle-img {
  top: 30%;
}

.parallax-bottom-img {
  top: 49%;
  z-index: 110;
}

/* hiking information */

.card-container,
.footer-container {
  padding: 0 40px;
}

.hiking-information {
  position: relative;
  margin-top: -120px;
  z-index: 500;
}

.card {
  gap: 64px;
}

.card-info {
  position: relative;
  margin: 60px 0 100px;
}

.count {
  position: absolute;
  top: -55px;
  left: -20px;
  font-size: 100px;
  opacity: 0.1;
  z-index: -1;
}

.card-image {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.card-image.frame-position-center {
  object-position: 50% 100%;
}

.card-description {
  line-height: 2.8rem;
  margin-bottom: var(--margin-bottom-md);
}

.btn-accent {
  color: var(--color-accent);
}

/* footer */

footer {
  padding-bottom: 50px;
}

.footer-container {
  row-gap: 32px;
}

.brand-information > * {
  margin-bottom: var(--margin-bottom-md);
}


.copyright {
  font-size: var(--font-size-sm);
  opacity: 0.8;
}

.footer-nav-title {
  color: var(--color-accent);
  font-size: var(--font-size-md);
  margin-bottom: var(--margin-bottom-md);
}

.footer-nav-link {
  margin-bottom: 8px;
}

.brand-information,
.footer-nav-group {
  display: flex;
  flex-direction: column;
}

.brand-infomation {
  order: 1;
}

.footer-nav {
  order: 0;
  gap: var(--margin-bottom-md);
}

/* media quaries */

@media screen and (min-width: 768px) {
  :root {
    --font-size-md: 20px;
    --font-size-xl: 58px;
    --container-spasing: 0 80px;
  }

  .fa{
    font-size: 20px;
  }

  /* hero */

  .hero {
    /* height: 100vh; */
  }

  .parallax-img {
    height: 900px;
  }

  .parallax-bottom-img {
    top: 55%;
  }

  .parallax-middle-img {
    top: 30%;
  }

  /* hiking information */

  .card-container,
  .footer-container {
    padding: 0 120px;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;
    /* margin-bottom: 150px; */
  }

  .card-image {
    grid-column: 1/-1;
    width: 600px;
    height: 750px;
    justify-self: center;
  }

  .card-info {
    grid-column: 1/-1;
  }

  .count {
    font-size: 200px;
    left: -80px;
    top: -120px;
  }

  .tagline::before {
    width: 64px;
  }

  .card-title {
    font-size: var(--font-size-xl);
  }
  
  /* .footer-container{
    grid-template-columns: .75fr 1fr;
    column-gap: 64px;
  } */

  .footer-nav{
    order: 1;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
  }

  .footer-nav-link:last-child{
    margin-bottom: 0;
  }

  .copyright{
    margin-top: auto;
    margin-bottom: 0;
  }

}